<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student Record</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Update Student Record</h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        <label>Name :</label>
        <input type="text" name="name"  placeholder="Enter Student name" value={{data.name}}>
        <br><br>
        <label>Email :</label>
        <input type="text" name="email" placeholder="Enter Student email" value={{data.email}}>
        <br><br>
        <label>contact:</label>
        <input type="text" name="contact" placeholder="Enter Student contact number" value={{data.contact}}>
        <br><br>
        <button type='Submit' value='submit'>Update Record</button>
    </form>
</body>
</html>